@import "../mixin.less";

.button {
  .font-pt-sans-bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  border: 1px solid #e5ddd5;
}
